/* Events Section */
.event-box {
    background-color: #66B89E;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto 40px auto;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }
  
  .event-box h1 {
    margin-bottom: 15px;
    font-size: 2.5em;
  }
  
  .event-actions {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .event-list-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .event-list-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Event Cards */
  .event-card {
    background: #fff;
    border-radius: 10px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
  }
  
  .event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
  }
  