extends layout

block content
  h1 Study Events Calendar
  table
    thead
      tr
        th Date
        th Time
        th Event Name
        th Actions
    tbody
      each event in events
        tr
          td= event.date
          td= event.time
          td= event.name
          td
            a(href=`/events/join/${event.id}`) Join
