extends layout

block content
  .container
    //- Header / Navigation
    header.header
      nav.navbar
        .logo LOGO
        ul.nav-links
          li: a(href='/') MATCHMAKING
          li: a(href='/calendar') CALENDAR
          li: a(href='/events') EVENTS
          li: a(href='/courses') COURSES
          li: a(href='/messaging') MESSAGING
          li: a(href='/dashboard') DASHBOARD

    //- Calendar Section
    section.main-content
      .calendar-box
        h1 Study Events Calendar
        table.calendar-table
          thead
            tr
              th Date
              th Time
              th Event Name
              th Actions
          tbody
            if events && Array.isArray(events) && events.length
              each event in events
                tr
                  td= event.date || 'Invalid Date'
                  td= event.time || 'Invalid Time'
                  td= event.Title
                  td
                    form(action=`/events/join/${event.EventID}` method="POST" style="display: inline;")
                      button.btn.btn-primary(type="submit") Join
            else
              tr
                td(colspan="4") No events available