extends layout

block content
  .container
    section.main-content
      .course-box
        h1 Available Courses
        p Explore and manage your courses with ease.

      .dashboard-box
        if courses && courses.length
          .card-container#course-list
            each course in courses
              .profile-card
                .profile-info
                  h3= course.CourseName
                  a(href=`/courses/${course.CourseID}` class='btn btn-primary') View Course
        else
          p.text-muted No courses available at the moment.
