extends layout

block content
  h1 Welcome to Study Buddy App
  include signup.pug
  include profile.pug
  include calendar.pug
  include create-event.pug
  include search.pug
  include messaging.pug
  include dashboard.pug
  include users.pug 
  include events.pug
