doctype html
html
  head
    title Scholars United
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    link(rel='stylesheet' href='/css/theme.css')
    link(rel='stylesheet' href='/css/navbar.css')
    link(rel='stylesheet' href='/css/pagination.css')
    link(rel='stylesheet' href='/css/notifications.css')
    link(rel='stylesheet' href='/css/captcha.css')
    link(rel='stylesheet' href='/css/password-strength.css')
    link(rel='stylesheet' href='/css/event-chat.css')
    link(rel='stylesheet' href='/styles.css')
    link(rel='stylesheet' href='/messaging.css')
    script(src="/socket.io/socket.io.js")
  body(data-current-user-id=typeof user !== 'undefined' ? user.id : '')
    include components/navbar
    block content
    block scripts
      script(src="/js/theme.js")
      script(src="/js/notifications.js")
      script(src="/music/messaging-sound.js")
