extends layout

block content
  h1 Messages

  if messages && messages.length
    ul
      each message in messages
        li
          strong Sender: #{message.sender}
          br
          strong Receiver: #{message.receiver}
          p= message.content
          small Sent: #{message.timestamp}
  else
    p No messages available.

  h2 Send a Message
  form(action='/messages/send' method='POST')
    label(for='receiverId') To (User ID):
    input(type='text' name='receiverId' required)

    label(for='content') Message:
    textarea(name='content' required)

    button(type='submit') Send Message
