extends layout

block content
  h1 Messages

  if messages && Array.isArray(messages) && messages.length
    ul
      each message in messages
        li
          strong= message.sender
          p= message.content
          small= message.timestamp
  else
    p No messages available.

  h2 Send a Message
  form(action='/messages/send' method='POST')
    label(for='receiver') To:
    input(type='text' name='receiver' required)
    label(for='message') Message:
    textarea(name='message' required)
    button(type='submit') Send Message
