.section-form
  form(action='/profile/reset-password' method='POST')
    .form-group
      label(for='currentPassword') Current Password:
      input.form-control(type='password', name='currentPassword', required)

    .form-group
      label(for='newPassword') New Password:
      input.form-control(type='password', name='newPassword', required)

    .form-group
      label(for='confirmPassword') Confirm New Password:
      input.form-control(type='password', name='confirmPassword', required)

    .button-wrapper
      button.btn.btn-warning(type='submit') Reset Password
