extends layout

block content
  h1 Sign Up
  form(action='/signup' method='POST')
    label(for='email') Email:
    input(type='email' name='email' required)
    label(for='password') Password:
    input(type='password' name='password' required)
    label(for='interests') Interests:
    input(type='text' name='interests')
    label(for='hobbies') Hobbies:
    input(type='text' name='hobbies')
    label(for='academic_info') Academic Info:
    input(type='text' name='academic_info')
    label(for='time_frames') Available Time Frames:
    input(type='text' name='time_frames')
    button(type='submit') Sign Up
